[submodule "extern/boostorg/json"]
	path = extern/boostorg/json
	url = https://github.com/boostorg/json.git
[submodule "extern/catchorg/Catch2"]
	path = extern/catchorg/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/fmtlib/fmt"]
	path = extern/fmtlib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/jothepro/doxygen-awesome-css"]
	path = extern/jothepro/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/nlohmann/json"]
	path = extern/nlohmann/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/trflynn89/flymake"]
	path = extern/trflynn89/flymake
	url = https://github.com/trflynn89/flymake.git
